$main-color1: #0ac768;
$main-color2: #28342e;
$main-color3: #465a51;
$main-color4: #365b36;
$main-color5: #377937;
$main-color6: #08964f;

$bgc-color1: whitesmoke;
$bgc-color2: #659680;
$nav-color: #0ac768;
$footer-color: #0ac768;
$footer-color2: rgba(33, 187, 59, 0.863);

$nice-blue: #09fd;
$nice-pink: #dad;
$white: #fff;
$white-gray: whitesmoke;
$light-gray: #ddd;
$pink-gray: #dddfff;
$gray: #333;
$shadow-mask: rgba(0, 0, 0, 0.8);
$shadow-mask-light: rgba(0, 0, 0, 0.404);
$shadow-mask-intermediate: rgba(0, 0, 0, 0.609);
$border-color: #000;

$red: tomato;
$green: yellowgreen;
$blue: royalblue;
